
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
}

header {
  width: 100%;
  padding: 50px;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  opacity: 0.75;
  text-shadow: 3px 3px #ffffff;
}
h1{
  text-shadow: 3px 3px #ffffff;
}

body {
  background-color: #ffffff;
  background: url('images/background-cat.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Amatic SC', cursive;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
}

.quizCounter {
  display: inline;
}

.logo {
  height: 125px;
  width: 125px;
  margin-right: 20px;
}
.feedbackImage, .resultsImage {
  height: 200px;
  width: 300px;
  display: block;
}

.startPage{
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

label {
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-out;
  line-height: 22px;
  font-size: 30px;
}

input[type="radio"]{
  margin: 0 10px 0 10px;
}

.quizForm{
  margin-left:auto;
  margin-right:auto;
  display: block;
}

h2{
  font-size: 40px;
  text-shadow: 3px 3px #ffffff;
}

.submitButton, .nextButton, .startQuiz, .restartButton{
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
  padding: 5px;
  margin: 10px;
}

form {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}